@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

:root {
    --color-white: #FDFDFD;
    --color-black: #181818;
    --color-navy: #00255E;
    --color-background-white: rgba(255, 255, 255, 0.9);

    --font-d-basic: 1rem;
    --font-d-large: 2rem;
    --font-t-large: 1.6rem;
    --font-t-basic: 0.8rem;
    --font-basic: 'Pretendard-Regular';
}

body {
    background: rgb(36,124,255);
    background: linear-gradient(180deg, rgba(36,124,255,1) 0%, rgba(205,175,129,1) 100%);
}


.box {
    width: 100%;
    height: 50vh;
    box-sizing: border-box;
    margin-bottom: 10vh;

    display: flex;
    align-items: center ;
    column-gap: 2vw;

    font-family: var(--font-basic);
    background-color: var(--color-white);

    padding: 3vh 3vw;
}

.box:nth-child(even){
    flex-direction: row-reverse;
}

.color-view {
    width: 30%;
    height: 80%;
}

.text-view {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.box:nth-child(even) .text-view {
    align-items: flex-end;
    text-align: right;
}

.color-code {
    font-weight: 700;
    font-size: 2.8vw;
}

.view {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.box:nth-child(even) .view {
    align-items: flex-end;
}

p {
    font-size: 1.2vw;
}

/* 태블릿 */
@media screen and (max-width: 1024px) {
    .box {
        margin-top: 8vw;
    }

    .color-code { 
        font-size: 3.5vw;
    }

    .findust-title {
        font-size: 2.2vw;
    }

    .findust-cct, .findust-info {
        font-size: 1.7vw;
    }
}

/* 핸드폰 */
@media screen and (max-width: 768px) {
    .box {
        height: 65vh;
        flex-direction: column;
        align-items: center;
    }

    .box:nth-child(even) {
        flex-direction: column;
    }

    .color-view {
        margin-bottom: 5vw;
    }

    .color-code {
        font-size: 6vw;
    }

    .color-view {
        width: 20vw;
        height: 25vw;
        margin-top: 3vw;
    }

    .box:nth-child(odd) .color-view {
        margin-right: 55%;
    }

    .box:nth-child(even) .color-view {
        margin-left: 55%;
    }

    .view {
        height: 60%;
    }

    .findust-title {
        font-size: 4vw;
    }

    .findust-cct {
        font-size: 2.5vw;
    }

    .findust-info {
        width: 55vw;
        font-size: 2.3vw;
    }
}