body {
    background: rgb(36,124,255);
    background: linear-gradient(180deg, rgba(36,124,255,1) 0%, rgba(205,175,129,1) 100%);
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    margin-top: 10%;
    width: 60vw;
}

.box {
    width: 56vw;
    height: 28vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    margin-top: 6vw;
}

.rt, .rt2 {
    width: 18vw;
    height: 20vw;
}

.rt {
    margin-left: 3vw;
    margin-top: 4vw;
    float: left;
}

.rt2 {
    margin-top: 4vw;
    margin-left: 35vw;
    float: right;
}

.gbdust, .gbdust2, .nbdust, .nbdust2 {
    width: 40vw;
    height: 8vw;
    font-family: 'Pretendard-Regular';
    font-weight: 700;
    font-size: 2.5vw;
}

.gbdust, .nbdust {
    margin-top: -21vw;
}

.gbdust2, .nbdust2 {
    margin-top: -19vw;
}

.gbdust, .gbdust2, .cct, .ep {
    margin-left: 23vw; 
}

.nbdust, .nbdust2 {
    margin-right: 23vw;
    float: right;
}

.cct, .cct2, .ep, .ep2 {
    width: 29vw;
    height: 2vw;
    font-family: 'Pretendard-Regular';
    font-size: 1.1vw;
}

.cct, .cct2 {
    margin-top: -14vw;
}

.cct2, .ep2 {
    margin-left: 3.5vw;
    float: right;
}

.ep, .ep2 {
    margin-top: -10vw;
}

/* 태블릿 */
@media screen and (max-width: 820px) {
    main, .top, .box {
        width: 80vw;
    }

    .gbdust, .gbdust2, .nbdust, .nbdust2 {
        font-size: 1.7rem;
    }

    .rt2 {
        margin-top: 4vw;
        margin-left: 58.6vw;
    }

    .nbdust2 {
        width: 50vw;
        margin-left: 9vw;
    }

    .nbdust, .ep2, .cct2 {
        margin-left: 17vw;
    }

    .gbdust2, .nbdust2 {
        margin-top: -18vw;
    }

    .cct, .cct2, .ep, .ep2 {
        width: 40vw;
        font-size: 0.7rem;
    }

    .ep, .ep2 {
        margin-top: -10vw;
    }

    .cct, .cct2 {
        margin-top: -13.5vw;
    }

}

/* 핸드폰 */
@media screen and (max-width: 540px) {
    .box {
        height: 87vw;
        margin: 8vw;
    }

   .rt, .rt2 {
        width: 22vw;
        height: 22vw;
        margin-top: 7vw;
    }

    .rt, .gbdust2, .cct, .ep {
        margin-left: 8vw;
    }

   .rt2 {
        margin-left: 50vw;
    }

    .gbdust, .nbdust {
        font-size: 2.2rem;
    }

    .gbdust {
        margin-top: 33vw;
        margin-left: -22vw;
    }

    .nbdust {
        margin-top: -9vw;
        margin-left: 42vw;
    }

    .gbdust2, .nbdust2, .cct, .cct2, .ep, .ep2 {
        width: 70vw;
    }

    .gbdust2, .cct {
        margin-top: -12.5vw;
    }

    .nbdust2, .ep2 {
        margin-top: -13.5vw;
    }

    .nbdust2, .cct2, .ep2 {
        margin-right: 8vw;
    }

    .cct, .cct2 {
        font-size: 1rem;
    }

    .ep, .ep2 {
        font-size: 0.9rem;
    }

    .ep {
        margin-top: -12vw;
    }

    .cct2, .ep2 {
        margin-left: 9vw;
    }
}