body {
    background: rgb(36,124,255);
    background: linear-gradient(180deg, rgba(36,124,255,1) 0%, rgba(0,65,143,1) 100%);
    height: 100vh;
    overflow: hidden;
}

main {
    margin-top: 10vh;
}

main article {
    width: 100%;
    box-sizing: content-box;
    position: relative;
    display: flex;
    justify-content: center;
}

main article .wrap {
    width: 100%;
    height: 20vw;
}

main article .wrap img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.img_wrap {
    width: 35vw;
    min-width: 250px;
}

.img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#left_cloud {
    position: absolute;
    left: 0;
    bottom: 15vh;
}

#right_cloud {
    position: absolute;
    right: 0;
    bottom: 20vh;
}
