body {
    background: rgb(36,124,255);
}

main {
    margin-top: 10vh;
}

main article {
    width: 60vw;
    box-sizing: content-box;
    position: relative;
    display: flex;
    justify-content: center;
}

main article .wrap {
    width: 60vw;
    height: 20vw;
}

main article .wrap img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.img_wrap {
    width: 35vw;
}

.img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

#left_cloud {
    position: absolute;
    left: 0;
    top: 55vw - 10vh;
}

#right_cloud {
    position: absolute;
    right: 0;
    top: 45vw - 10vh;
}