.top{
    margin-top: 10%;
    width: 60vw;
}

.box {
    background-color: white;
    width: 19vw;
    height: 29vw;
    margin-top: 9vw;
    margin-bottom: 14vw;
    margin-right: 3vw;
}

.num {
    font-family: 'Pretendard-Regular';
    font-size: 2vw;
    margin-left: 2vw;
    margin-top: 1.5vw;
}

.title {
    font-family: 'Pretendard-Regular';
    color: #000000;
    font-size: 1.8vw;
    margin-left: 2vw;
}

.line {
    border-top: 1px solid #000000;
    margin: 1vw auto;
    width: 15vw;
}

.wr {
    font-family: 'Pretendard-Regular';
    width: 15vw;
    height: 5vw;
    font-size: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.image {
    float: left;
    width: 19vw;
    height: 11.5vw;
    margin-left: 2vw;
    margin-top: 3vw;
}