body{
    background: rgb(36,124,255);
}

.top{
    margin-top: 6vw;
    width: 60vw;
}

main {
    width: 60vw;
    display: flex;
    flex-direction: column;
}

article {
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box {
    width: 19vw;
    height: 29vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-top: 6vw;
    margin-bottom: 14vw;
    margin-right: 4vw;
    background-color: white;
}

.num {
    width: 20vw;
    height: 2vw;
    font-family: 'Pretendard-Regular';
    font-size: 2vw;
    margin-left: 2vw;
    margin-top: 1.5vw;
}

.title {
    width: 30vw;
    height: 2vw;
    font-family: 'Pretendard-Regular';
    color: #000000;
    font-size: 1.8vw;
    margin-top: -5vw;
    margin-left: 2vw;
}

.line {
    border-top: 1px solid #000000;
    margin: -9vw auto;
    width: 15vw;
}

.wr {
    font-family: 'Pretendard-Regular';
    width: 80vw;
    height: 5vw;
    font-size: 1vw;
    margin-top: -14vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.image {
    width: 100%;
    height: 35%;
    margin-left: 2vw;
    margin-top: 17vw;
    position: absolute;
}

@media screen and (max-width: 820px){
    main,
    .top,
    article {
        width: 80vw;
    }

    article {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 60vw;
        height: 60vw;
    }

    .num, .title, .line, .wr {
        margin: 5vw;
    }

    .num, .title {
        font-size: 3.3vw;
    }

    .title {
        margin-top: -12vw;
    }

    .line {
        width: 45vw;
        margin-top: -17vw;
    }

    .wr {
        font-size: 0.8rem;
        margin-top: -26vw;
    }

    .image {
        margin-top: 35vw;
        margin-left: 5vw;
        /* 사진 크기 조정 */
    }
}