* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
	display: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* mainTitle & subTitle */

main {
    width: 60%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

main .top {
    margin-top: 10%;
}

.top {
    margin-bottom: 10vh;
}

.main-title {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

.sub-title {
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

article {
    width: 100%;    
}

@media screen and (max-width: 1024px){
    main {
        width: 80%;
    }
    .main-title {
        font-weight: 600;
        font-size: 1.6rem;
    }
    
    .sub-title {
        font-weight: 400;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 768px){
    .main-title {
        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        color: #FFFFFF;
    }
    
    .sub-title {
        font-family: 'Pretendard-Regular';
        font-style: normal;
        font-weight: 300;
        font-size: 0.6rem;
        color: #FFFFFF;
    }
}