* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

body::-webkit-scrollbar {
	display: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    margin-top: 3vh;
    width: 60vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.navbar_logo {
    height: 7vh;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navbar_logo a{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 800;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.navbar_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_menu li a{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #FFFFFF;
}

.navbar_menu li a:hover{
    border-bottom: solid #FFFFFF 1px;
}


.navbar_menu li {
    margin-left: 2.3vw;
}

.toggle {
    display: none;
    height: 7vh;
    align-items: center;
    position: absolute;
    right: 10vw;
}

@media screen and (max-width: 720px){
    .navbar {
        width: 80vw;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar_menu li {
        margin-top: 3vh;
    }

    .toggle {
        display: flex;
    }
    .navbar_menu.active {
        display: flex;
    }
}

/* mainTitle & subTitle */

article {
    width: 60vw;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
}

article .top {
    margin-top: 10%;
}

h2 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
}

h6 {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
}

@media screen and (max-width: 720px){
    h2 {
        font-weight: 600;
        font-size: 1.6rem;
    }
    
    h6 {
        font-weight: 400;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 540px){
    h2 {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 500;
        font-size: 1.2rem;
        color: #FFFFFF;
    }
    
    h6 {
        font-family: 'Pretendard';
        font-style: normal;
        font-weight: 300;
        font-size: 0.6rem;
        color: #FFFFFF;
    }
}