:root {
    --color-white: #FDFDFD;
    --color-black: #181818;
    --color-navy: #00255E;
    --color-background-white: rgba(255, 255, 255, 0.9);

    --font-d-basic: 1rem;
    --font-m-basic: 0.8rem;
}

body {
    background: rgba(145,186,225,1);
    background: linear-gradient(180deg, rgba(36,124,255,1) 0%, rgba(145,186,225,1) 100%);
}

.input-section {
    width: 60vw;
    box-sizing: content-box;

    margin-top: -5%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; 
}

#title-input, #pw-input{
    width: 100%;
    height: 5vh;

    margin-bottom: 2%;

    outline: none;
    border: none;
    border-bottom: solid var(--color-background-white) 1px;

    text-align: center;
    font-family: 'Pretendard-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-d-basic);
    color: var(--color-white);

    background: none;
}

.input-section #title-input::placeholder, .input-section #pw-input::placeholder {
    color: #FDFDFD
}

.input-section .file-upload-div {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: solid var(--color-white) 1px;
    border-radius: 5px;
    margin-bottom: 2%;
}

.input-section .file-upload-div span {
    color: var(--color-white);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
}

.input-section .file-upload-div img {
    opacity: 0;
    width: 0;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.input-section #pw-input, .input-section button {
    width: 30vw;
    height: 5vh;
}

.input-section #upload-btn {
    width: 40%;
    font-size: 0.8rem;
    border: none;
    background: var(--color-background-white);
    color: var(--color-navy);
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 10vh;
}

@media screen and (max-width: 1024px) {

    .input-section {
        width: 80vw;
        box-sizing: content-box;

        margin-top: 10%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    

}

@media screen and (max-width: 768px) {

    .input-section {
        width: 80vw;
        box-sizing: content-box;

        margin-top: 10%;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #title-input, #title-input::placeholder,
    .file-upload-div span,
    #pw-input, #pw-input::placeholder,
    #upload-btn {
        font-size: var(--font-m-basic);
    }
    
    .input-section #pw-input, .input-section #upload-btn {
        width: 80vw;
        height: 5vh;
    }
}